<div class="homeContainer">
  <div class="searchContainer">
    <input type="text" class="searchBar" [formControl]="searchControl" placeholder="Buscar por nome do produto">
    <button mat-fab extended color="primary" class="searchItem" (click)="openAddItemModal()">
      <mat-icon>add</mat-icon>
      Adicionar Novo Produto
    </button>
  </div>

  <div class="tableContainer">
    <table mat-table [dataSource]="filteredProducts">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let product"> {{product.category}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Detalhes </th>
        <td mat-cell *matCellDef="let product" class="details">
          <button mat-icon-button class="buttonStyle" (click)="openDetailsModal(product.id)">
            <mat-icon class="infoi">info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>